body {
    background-color: #f0f0f0; /* Cor de fundo suave */
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte padrão moderna */
}

.container {
    background-color: #ffffff; /* Cor de fundo branca */
    padding: 20px;
    width: 400px; /* Aumento do tamanho do contêiner */
    margin: auto;
    margin-top: 50px;
    border-radius: 20px; /* Borda arredondada */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Sombra suave */
} 

.container-teclas {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Grid com 4 colunas */
    gap: 15px; /* Eddddntre as teclas */
}

.tecla {
    padding: 20px; /* Aumento do tamanho das teclas */
    background-color: #f4f4f4; /* Cor de fundo suave */
    color: #333333; /* Cor do texto */
    border-radius: 10px; /* Borda arredondada */
    font-size: 2em; /* Tamanho da fonte aumentado */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex; /* Centralizar conteúdo verticalmente */
    justify-content: center; /* Centralizar conteúdo horizontalmente */
    align-items: center; /* Centralizar conteúdo verticalmente */
}


.tecla-esp {
    background-color: #f0f0f0; /* Cor de fundo ligeiramente mais clara */
    color: #333333; /* Cor do texto */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.tecla:active,
.tecla:hover,
.tecla-esp:active,
.tecla-esp:hover {
    transform: translateY(2px); /* Efeito de levantar ao passar o mouse ou pressionar */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}

.visor {
    color: #333333; /* Cor do texto */
    background-color: #ffffff; /* Cor de fundo branca */
    text-align: right;
    width: calc(100% - 40px); /* Largura ajustada para o visor */
    margin: auto;
    padding: 15px;
    border: 1px solid #cccccc; /* Borda fina */
    border-radius: 20px; /* Borda arredondada */
    font-size: 2.2em; /* Tamanho da fonte aumentado */
    font-weight: bold; /* Fonte em negrito */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    height: 63px; /* Altura fixa */
overflow: hidden; /* Oculta conteúdo que ultrapassa a altura definida */
}

.tecla-cinza { /* Nova classe para as teclas C e CLM */
    background-color: lightgray; 
    color: black; 
}

.tecla-esp.selected {
    background-color: #98c1db; /* Altere para a cor desejada */
    color: black;
}